
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/AlumnoCRUD/Alumno.js"></script>


<h2>GetAll</h2>
<p>Vista para mostrar los alumnos</p>
