
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/AlumnoCRUD/Alumno.js"></script>


<table class="table-bordered table-responsive" id="alumno">
    <tr>
        <td class="center-block">Actualizar</td>
        <td>Nombre</td>
        <td>Apellido Paterno</td>
        <td>Apellido Materno</td>
        <td>Fecha Nacimiento</td>
        <td>Fecha Nacimiento</td>
        <td>Fecha Nacimiento</td>
        <td>Fecha Nacimiento</td>
        <td>Eliminar</td>
        
    </tr>
     <tbody>


     </tbody>
</table>